@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700;900&family=Quicksand:wght@400;500;700&family=Roboto:wght@400;500;700;900&display=swap');
:root{
    --Playfair : 'Playfair Display', serif;
    --Quicksand: 'Quicksand',sans-serif;
    --Roboto:'Roboto', sans-serif;
    --exDark:#f89696;
    --dark:#3c393d;
}
*{
    padding: 0;margin: 0;outline: none;
    text-decoration: none;
    list-style: none;
    font-family: var(--Quicksand);
}
html{
    scroll-behavior: smooth;
}
body{
    line-height: 1.4;
    color:var(--dark) ;
}
img{
    width: 100%;
    display: block;
}
.container{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 1.2rem;
}


 /* Header styling starts */

 header{
     height: 100vh;
     background: linear-gradient(rgba(0,0,0, 0.4), rgba(0,0,0, 0.4)), url(images/banner-bg.jpg) center/cover no-repeat fixed ;
 }
 .navbar{ position: sticky;top: 0;
    background:rgba(0 , 0, 0, 0.6) ;
    padding: 1.2em;
   
 }
 .navigation{
     display: flex;
     justify-content: space-between;
 }
 .navigation .logo a{
    color: white;
    font-size: 2rem;
    font-family: var(--Playfair);
    letter-spacing: 1px;
 }
 .navbar-nav{
    padding: 0.8rem 0 0.2rem 0 ;

 }

 .navbar-nav a{
     text-transform: uppercase;
     font-family: var(--Roboto);
     letter-spacing: 3px;
     color: white;
     display: inline-block;
     padding-left:1.2rem ;
     font-weight: 500;
     padding-right:1.2rem ;
     transition: 0.5s;
 }
 .navbar-nav a:hover{
     opacity:0.5 ;
 }
 .banner{
     width: 100%;
     height: 100%;
     display: flex;
     justify-content: center;
     margin-top: 9%;
     color: white;
     text-align: center;
 }
 .banner-title{
     font-size:5rem ;
    font-family: var(--Playfair);
    line-height: 1.4;
    }
.banner-title span{
    color: var(--exDark);
    font-family: var(--Playfair);
}
.banner p{
    padding-left: 1rem 0 2rem 0;
    font-size: 1.2rem;
    text-transform: capitalize;
    font-weight: 300;
    word-spacing: 2px;
    font-family: var(--Roboto);
}
.banner form{
    background:white ;
    border-radius: 2rem;
    padding: 0.6rem 1rem;
    display: flex;
    justify-content: space-between;
    margin-top: 1.4rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;

}
.search-input{
    font-family: var(--Roboto);
    font-size: 1.2rem;
    padding: 0.6rem 0;
    border: none;
}
.search-input::placeholder{
    text-transform: capitalize;
}
.search-btn{
    width: 40px;
    border: none;
    color: var(--dark);
    background-color: transparent;
    cursor: pointer;
}

/* End of header section */

/* Stert design styling */
.design{
    padding: 4.5rem 0 ;
}
.title{
    text-align: center;
    padding: 1rem 0 ;
}
.title h2{
    font-family: var(--Playfair);
    font-size: 2.4rem;
}
.title p{
    text-transform: uppercase;
    padding: 0.6rem 0 ;
}
.design-content{
    margin: 2rem 0 ;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
    flex-wrap: wrap;
}
.design-item{
    cursor: pointer;
    margin: 0;
}
.design-img{
    position: relative;
}
.design-img::after{
    position:absolute ;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.3);

}
.design-img{
    overflow: hidden;  border-radius: 1rem;
}
.design-img img{
    transition: .5s;
  
}
.design-item:hover img{
    transform: scale(1.2);
    z-index: 1;
}
.design-item span:first-of-type{
    position: absolute;
    top: 10px;
    left: 10px;
    content: '';
    background-color: var(--dark);
    padding: 0.25rem 1rem;
    color: white;
}
.design-img span:last-of-type{
    position:absolute;
    bottom: 10px;right: 10px;
    font-size: 1.rem;
    font-weight: 700;
    color: white;
}
.design-title{
    padding: 1rem;
    font-size: 1.2rem;
    text-align: center;
    width: 90%;
    margin: 0 auto;
}
.design-title a{
    color:var(--dark);
    text-transform: capitalize;
    font-family:var(--Playfair) ;

}
/* ending of design section styling */


/* Starting of blog section styling */
.blog{
    background-color: #f9f9f9;
    padding: 4.5rem 0;
}
.blog-content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
    margin: 2rem 0;
}
.blog-img
{position: relative;

}
.blog-img span {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: var(--dark);
    color: white;
    padding: 0.3rem 0.6rem;
    font-size: 1.4rem;
}
.blog-text{
    margin: 2.2rem 0;
    padding: 0 1rem;
}
.blog-text span{
    font-weight: 300;
    display: block;
    padding-bottom: .5rem;
}
.blog-text h2{
    font-family: var(--Playfair);
    padding: 1rem 0;
    font-size: 1.65rem;
    font-weight: 500;
}
.blog-text p{
    font-weight: 300;
    font-size: 1.1rem;
    opacity: .9;
    padding-bottom: 1.2rem;
}
.blog-text a{
    font-family: var(--Roboto);
    font-size: 1.1rem;
    text-decoration: none;
    background: var(--dark);
    color: white;padding: .55rem 1.2rem;
    transition: background .5s;

}
.blog-text a:hover{
    background:var(--exDark);
    color: var(--dark);
}
/* ending of blog section styling */


/* starting of about section styling */
.about{
    padding: 4.5rem;
}
.about-content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 3rem;
    align-items: center;
}
.about-text h1{
    text-align: center;
    margin: 2rem 0;
    font-size: 2rem;
}
.about-text >p{
    text-align: center;
    font-size: 1.5rem;
    padding: .6rem 0;
    color: black;
    font-weight: 500;

}
.about-text div p{
    font-size: 1.1rem;
    margin:2rem 0;
}
.about-img{
    overflow: hidden;  border-radius: 20px;
}
.about-img img{
    transition: all .5s;
}
.about-img:hover img{  
    transform: scale(1.2);
}
/* ending of about section styling */


/* services section starts  */
.services-content{
    display: grid;
    grid-template-columns:repeat(2,1fr) ;
    grid-gap: 2rem;
    padding: 3rem 1rem;
    
}
/* services section ends  */

/* footer sectin starts  */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 0 ;
    background:rgba(4, 2, 39);
    color: white;
} 
.social-links{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 30%;
    margin: 0 auto;
}
.social-links a{
    width: 1rem;
    height: 1rem;
    padding: 1rem;
    border:1px solid white; 
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    
}
.social-links a:hover{
    transition: all .3s;
    color:green;
    box-shadow: 0 0 10px green ;
    border: 1px solid green;

}
footer span{
    font-size: 1.2rem;
    font-weight: 600;
    padding-top: 3rem;
   
}
/* footer sectin ends  */